.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item h3 {
  margin: 1.2rem 0 2rem; /* Added 'rem' unit to the top margin */
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
  .portfolio_item-image > img {
    height: 8rem;
    border-radius: 1.5rem;
  }

  .btn-primary {
    margin-left: 0; 
  }

  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr; 
    gap: 1.2rem;
    justify-items: center;
  }

  .portfolio_item {
    width: 100%; /* Set width to 100% for full mobile width */
    margin: 0 1rem; /* Add margin for better spacing */
  }

  .portfolio_item-cta {
    flex-direction: column; /* Stack buttons vertically */
  }

  .btn-primary {
    margin-left: 0; /* Reset margin for mobile view */
    margin-top: 1rem; /* Add margin for spacing between buttons */
  }
}
